<%- include('./partials/head') %>
<div class="container-fluid mt-4 pt-5 text-center">
    <h3>SE PRODUJO UN ERROR AL SUBIR EL DOCUMENTO PDF</h3>    
    <button class="btn bg-primary text-light" id="btnvolver" data-id="<%= idTrabajador %>">VOLVER</button>
</div>   
<script src="/js/errorupload.js"></script>
<%- include('./partials/foot') %>